<table>
    <tr>
        <td>Username:</td>
        <td>
            <input type="text" size="30" ng-model="loginCtrl.username">
        </td>
    </tr>
    <tr>
        <td>Password:</td>
        <td>
            <input type="password" size="30" ng-model="loginCtrl.password">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button ng-click="loginCtrl.login()">Login</button>
        </td>
    </tr>
</table>